<% unless children %>
  <span class="accountability__grid-title" style="display: block;">
    <%= taxonomies_label %>
  </span>
<% end %>

<div class="accountability<%= "_without_children" unless children %>__grid">
  <% taxonomies.each do |taxonomy| %>
    <% taxonomy_results_count = count_calculator(taxonomy.id) %>
    <% next if taxonomy_results_count == 0 %>

    <% subelements = cell(
      "decidim/accountability/status",
      taxonomy,
      show_taxonomy_image:,
      extra_classes: "accountability__status__background",
      url: results_path(filter: { taxonomies_part_of_contains: taxonomy }),
      render_blank: true
    ) %>

    <div>
      <span class="accountability__grid-title"><%= t("results.home.categories_label", scope: "decidim.accountability") %></span>
      <%= subelements.call %>
    </div>

    <% if children %>
      <div>
        <span class="accountability__grid-title"><%= t("results.home.subcategories_label", scope: "decidim.accountability") %></span>
        <% if subelements.has_results? %>
          <div class="accountability__subgrid">
            <% taxonomy.children.where(id: current_component.available_taxonomy_ids).each do |sub_taxonomy| %>
              <%= cell(
                    "decidim/accountability/status",
                    sub_taxonomy,
                    extra_classes: "accountability__status__border",
                    url: results_path(filter: { taxonomies_part_of_contains: sub_taxonomy })
                  ) %>
            <% end %>
          </div>
        <% else %>
          <%= cell("decidim/announcement", t("no_results", scope: "decidim.accountability.results")) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
