<div class="categories section pb-8">
  <div class="accountability_without_children__grid">
    <% current_participatory_space.subscopes.order(Arel.sql("code::INTEGER ASC")).each do |scope| %>
      <% scope_results_count = count_calculator(scope.id, 'all') %>
      <% progress = progress_calculator(scope.id, 'all') %>
      <div>
        <%= link_to results_path(filter: { with_scope: scope.id }), class: "accountability__status accountability__status__background" do %>
          <%= image_pack_tag("media/images/districte-#{scope.id}.jpg")  %>
          <p class="accountability__status-title"><%= translated_attribute(scope.name) %></p>
          <div class="accountability__status-progress">
            <div style="width:<%= progress %>%"></div>
          </div>
          <% if component_settings.display_progress_enabled? && progress.present? %>
            <div class="accountability__status-value">
              <span><%= display_percentage progress %></span>
              <span><%= display_count scope_results_count %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
