<div class="categories section pb-8">
  <% current_participatory_space.taxonomies.where(parent_id: ENV.fetch("SCOPE_TAXONOMY_ID", -1)).each do |taxonomy| %>
    <div class="accountability_without_children__grid">
      <% taxonomy.children.each do |subtaxonomy| %>
        <% scope_results_count = count_calculator(subtaxonomy.id) %>
        <% progress = progress_calculator(subtaxonomy.id) %>
        <div>
          <%= link_to results_path, class: "accountability__status accountability__status__background" do %>
            <%= image_pack_tag("media/images/taxonomy-#{subtaxonomy.id}.jpg") %>
            <p class="accountability__status-title"><%= subtaxonomy.translated_name %></p>
            <div class="accountability__status-progress">
              <div style="width:<%= progress %>%"></div>
            </div>
            <% if component_settings.display_progress_enabled? && progress.present? %>
              <div class="accountability__status-value">
                <span><%= display_percentage progress %></span>
                <span><%= display_count scope_results_count %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
