<div class="categories section">
  <div class="categories--list">
    <div class="row">
      <div class="small-12 columns">
        <div class="categories--group row">
          <div class="category--elements medium-12 columns">
            <div class="row">
              <% current_participatory_space.subscopes.order(Arel.sql("name->'#{I18n.locale}' ASC")).each do |scope| %>
                <% scope_results_count = count_calculator(scope.id, 'all') %>
                <% progress = progress_calculator(scope.id, 'all') %>
                <%= link_to results_path(filter: { scope_id: scope.id }), class: "medium-4 columns end card__link card__link--block block--scope" do %>
                  <div class="category--scope--line">
                    <%= image_tag("barcelona/districtes/#{scope.id}.jpg")  %>
                    <div class="scope--inner">
                      <strong><%= translated_attribute(scope.name) %></strong>

                      <div class="progress">
                        <div class="progress-meter" style="width:<%= progress %>%"></div>
                      </div>

                      <% if component_settings.display_progress_enabled? && progress.present? %>
                        <div class="progress-info">
                          <div class="progress-figure heading3">
                            <%= display_percentage progress %>
                          </div>
                          <div class="category--count">
                            <%= display_count scope_results_count %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
