<% if current_user.ephemeral_participant? %>
  <%= render partial: "layouts/decidim/ephemeral_participation/user_menu" %>
<% else %>
  <li role="presentation"><%= link_to I18n.t("profile", scope: "layouts.decidim.user_menu"), decidim.account_path, role: "menuitem" %></li>
  <% if current_user.nickname.present? && !current_user.managed? %>
    <li role="presentation"><%= link_to I18n.t("public_profile", scope: "layouts.decidim.user_menu"), decidim.profile_path(current_user.nickname), role: "menuitem" %></li>
  <% end %>
  <li role="presentation"><%= link_to I18n.t("notifications", scope: "layouts.decidim.user_menu"), decidim.notifications_path, role: "menuitem" %></li>
  <li role="presentation"><%= link_to I18n.t("conversations", scope: "layouts.decidim.user_menu"), decidim.conversations_path, role: "menuitem" %></li>
  <% if allowed_to? :read, :admin_dashboard %>
    <li role="presentation"><%= link_to I18n.t("admin_dashboard", scope: "layouts.decidim.user_menu"), decidim_admin.root_path, role: "menuitem" %></li>
  <% end %>
  <li role="presentation"><%= link_to I18n.t("sign_out", scope: "layouts.decidim.user_menu"), decidim.destroy_user_session_path, method: :delete, class: "sign-out-link", role: "menuitem" %></li>
<% end %>
