<div class="row">
  <%= decidim_form_for(@form, url: unverifiable_ephemeral_participant_path, method: :put, html: { autocomplete: "off" }) do |form| %>
    <input autocomplete="off" name="hidden" type="password" style="display:none;">
    <div class="columns large-8 end">
      <%= I18n.t("unverifiable", scope: "decidim.ephemeral_participation.ephemeral_participants") %>

      <%= form.email_field :email %>

      <% if form.object.email_taken? %>
        <%= link_to(
          I18n.t("sign_out", scope: "decidim.ephemeral_participation.user_menu"),
          decidim_ephemeral_participation.ephemeral_participant_path(current_user),
          method: :delete,
          class: "button",
        ) %>
      <% else %>
        <%= form.submit I18n.t("submit", scope: "decidim.ephemeral_participation.ephemeral_participants") %>
      <% end %>
    </div>
  <% end %>
</div>
