<main class="layout-1col cols-6">
  <div class="flex justify-center">
    <h1 class="title-decorator my-12"><%= t(".title") %></h1>
  </div>

  <%= decidim_form_for(@form, url: ephemeral_participant_path, method: :put, html: { autocomplete: "off" }) do |form| %>
    <%= form_required_explanation %>

    <div class="form__wrapper">
      <div class="field">
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.text_field :nickname %>
      </div>

      <div class="field">
        <%= form.email_field :email %>
      </div>

      <input autocomplete="off" name="hidden" type="password" style="display:none;">

      <div class="field">
        <%= form.password_field :password, value: form.object.password, autocomplete: "off", help_text: t("devise.passwords.edit.password_help_admin", minimum_characters: ::PasswordValidator.minimum_length_for(current_user)) %>
      </div>

      <div class="field">
        <%= form.password_field :password_confirmation, value: form.object.password_confirmation, autocomplete: "off" %>
      </div>

      <div class="form__wrapper-block">
        <%= form.submit t("decidim.ephemeral_participation.ephemeral_participants.submit"), class: "button button__lg button__secondary" %>
      </div>
    </div>
  <% end %>
</main>
