<div class="form__wrapper">
  <div class="field">
    <%= form.select :document_type, handler.census_document_types, prompt: true %>
  </div>

  <div class="field">
    <%= form.text_field :document_number %>
  </div>

  <div class="field date">
    <%= form.date_select :date_of_birth, start_year: 20.years.ago.year, end_year: 8.years.ago.year, default: 12.years.ago, prompt: { day: t(".date_select.day"), month: t(".date_select.month"), year: t(".date_select.year") } %>
  </div>

  <div class="field">
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <% parent_taxonomy = current_organization.taxonomies.find_by("name ->> 'ca' = ?", "Ciutat") %>
    <%= form.collection_select :scope_id, Decidim::TaxonomyScope.where(taxonomy: parent_taxonomy&.children), :scope_id, ->(ts){ translated_attribute(ts.taxonomy.name) }, prompt: t(".scope_prompt") %>
  </div>

  <div class="field">
    <%= form.collection_select(
      :gender,
      CensusKidsAuthorizationHandler::AVAILABLE_GENDERS,
      :to_s,
      ->(gender) { t(".genders.#{gender}") },
      prompt: t(".gender_prompt")
    ) %>
    <p class="help-text"><%= t ".gender_help" %></p>
  </div>

  <%= form.hidden_field :handler_name %>
</div>
