<main class="layout-1col cols-6">
  <div class="flex justify-center">
    <h1 class="title-decorator my-12"><%= t(".title") %></h1>
  </div>
  <%= decidim_form_for(@form, url: reset_authorization_path(id: authorization.id, redirect_url: redirect_url), method: :post) do |form| %>
    <%= form_required_explanation %>

    <div class="form__wrapper">
      <div class="field">
        <%= form.text_field :mobile_phone_number, label: t("mobile_phone_number", scope: "activemodel.attributes.authorization") %>
      </div>
    </div>

    <div class="form__wrapper-block">
      <%= form.submit t(".send"), class: "button button__lg button__secondary", "data-disable-with" => "#{t('.send')}..." %>
    </div>
  <% end %>
</main>
