<% add_decidim_meta_tags({
  description: t(".meta_tags.description"),
  title: t(".meta_tags.title")
}) %>

<main class="wrapper global-accountability">
  <div class="row column text-center">
    <h1 class="heading1 page-title"><%= t(".heading") %></h1>
    <p class="centered--text text-center intro--text"><%= t(".intro_text") %></p>

    <section class="section">
      <h3 class="section-heading"><%= t(".topics") %></h3>

      <div class="row">
        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "planificacio"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "book" %> <%= t(".section_1_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_1_item_1") %></li>
                <li><%= t(".section_1_item_2") %></li>
                <li><%= t(".section_1_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "economia"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "graph" %> <%= t(".section_2_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_2_item_1") %></li>
                <li><%= t(".section_2_item_2") %></li>
                <li><%= t(".section_2_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "serveis"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "key" %> <%= t(".section_3_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_3_item_1") %></li>
                <li><%= t(".section_3_item_2") %></li>
                <li><%= t(".section_3_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "etica"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "home" %> <%= t(".section_4_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_4_item_1") %></li>
                <li><%= t(".section_4_item_2") %></li>
                <li><%= t(".section_4_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <h3 class="section-heading"><%= t(".flow_section_heading") %></h3>
      <p class="centered--text"><%= t(".flow_intro_text") %></p>

      <%= render "accountability_graph_#{I18n.locale}" %>
    </section>

    <section class="section">
      <h3 class="section-heading"><%= t(".citizens_section_heading") %></h3>
      <p class="centered--text"><%= t(".citizens_section_intro_text") %></p>

      <div class="medium-4 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="<%= t(".citizens_card_1_link") %>">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/4/eixample_portada.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="<%= t(".citizens_card_1_link") %>"><h4 class="card__title"><%= t(".citizens_card_1_title") %></h4></a>
            <span class="card--process__small"><%== t(".citizens_card_1_text") %></span>
          </div>
        </article>
      </div>

      <div class="medium-4 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="<%= t(".citizens_card_2_link") %>">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/1/98a2d321-e500-4a96-9d4c-b3e8a98659c5.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="<%= t(".citizens_card_2_link") %>"><h4 class="card__title"><%= t(".citizens_card_2_title") %></h4></a>
            <span class="card--process__small"><%= t(".citizens_card_2_text") %></span>
          </div>
        </article>
      </div>

      <div class="medium-4 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="<%= t(".citizens_card_3_link") %>">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/5/c2d11276-9e87-41f2-9184-a28986ef9da1.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="<%= t(".citizens_card_3_link") %>"><h4 class="card__title"><%= t(".citizens_card_3_title") %></h4></a>
            <span class="card--process__small"><%= t(".citizens_card_3_text") %></span>
          </div>
        </article>
      </div>
    </section>
  </div>
</main>
