<% add_decidim_meta_tags({
  description: t(".meta_tags.description"),
  title: t(".meta_tags.title")
}) %>

<main class="layout-1col cols-8">
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12"><%= t(".heading") %></h1>
    <p class="text-lg text-gray-2"><%= t(".intro_text") %></p>
  </div>

  <section>
    <h2 class="h2"><%= t(".topics") %></h2>
    <div class="card__grid-grid pt-6">
      <div class="card__grid">
        <div class="card__grid-text">
          <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path("planificacio"), class: "card__link", style: "text-decoration: none;" do %>
            <h3 class="h4 text-secondary"><%= icon "bookmark-line", style: "display: inline;" %> <%= t(".section_1_title") %></h3>
          <% end %>
          <ul class="list-disc pl-4">
            <li><%= t(".section_1_item_1") %></li>
            <li><%= t(".section_1_item_2") %></li>
            <li><%= t(".section_1_item_3") %></li>
          </ul>
        </div>
      </div>

      <div class="card__grid">
        <div class="card__grid-text">
          <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path("economia"), class: "card__link", style: "text-decoration: none;" do %>
            <h3 class="h4 text-secondary"><%= icon "bar-chart-2-line", style: "display: inline;" %> <%= t(".section_2_title") %></h3>
          <% end %>
          <ul class="list-disc pl-4">
            <li><%= t(".section_2_item_1") %></li>
            <li><%= t(".section_2_item_2") %></li>
            <li><%= t(".section_2_item_3") %></li>
          </ul>
        </div>
      </div>

      <div class="card__grid">
        <div class="card__grid-text">
          <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path("serveis"), class: "card__link", style: "text-decoration: none;" do %>
            <h3 class="h4 text-secondary"><%= icon "key-2-line", style: "display: inline;" %> <%= t(".section_3_title") %></h3>
          <% end %>
          <ul class="list-disc pl-4">
            <li><%= t(".section_3_item_1") %></li>
            <li><%= t(".section_3_item_2") %></li>
            <li><%= t(".section_3_item_3") %></li>
          </ul>
        </div>
      </div>

      <div class="card__grid">
        <div class="card__grid-text">
          <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path("etica"), class: "card__link", style: "text-decoration: none;" do %>
            <h3 class="h4 text-secondary"><%= icon "home-2-line", style: "display: inline;" %> <%= t(".section_4_title") %></h3>
          <% end %>
          <ul class="list-disc pl-4">
            <li><%= t(".section_4_item_1") %></li>
            <li><%= t(".section_4_item_2") %></li>
            <li><%= t(".section_4_item_3") %></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="h2 pt-8"><%= t(".flow_section_heading") %></h2>
    <div class="editor-content pt-6">
      <p class="text-lg text-gray-2"><%= t(".flow_intro_text") %></p>
      <div class="py-6">
        <%= render "accountability_graph_#{I18n.locale}" %>
      </div>
    </div>
  </section>

  <section>
    <h2 class="h2"><%= t(".citizens_section_heading") %></h2>
    <div class="editor-content pt-6">
      <p class="text-lg text-gray-2"><%= t(".citizens_section_intro_text") %></p>
      <div class="card__grid-grid pt-6">
        <div class="card__grid">
          <div class="card__grid-img">
            <%= image_pack_tag 'media/images/canals.jpg' %>
          </div>
          <div class="card__grid-text">
            <a style="text-decoration: none;" href="<%= t(".citizens_card_1_link") %>">
              <h3 class="h4 text-secondary"><%= t(".citizens_card_1_title") %></h3>
            </a>
            <span><%== t(".citizens_card_1_text") %></span>
          </div>
        </div>
        <div class="card__grid">
          <div class="card__grid-img">
            <%= image_pack_tag 'media/images/logo_decidim.png' %>
          </div>
          <div class="card__grid-text">
            <a style="text-decoration: none;" href="<%= t(".citizens_card_2_link") %>">
              <h3 class="h4 text-secondary"><%= t(".citizens_card_2_title") %></h3>
            </a>
            <span><%== t(".citizens_card_2_text") %></span>
          </div>
        </div>
        <div class="card__grid">
          <div class="card__grid-img">
            <%= image_pack_tag 'media/images/trobades.jpg' %>
          </div>
          <div class="card__grid-text">
            <a style="text-decoration: none;" href="<%= t(".citizens_card_3_link") %>">
              <h3 class="h4 text-secondary"><%= t(".citizens_card_3_title") %></h3>
            </a>
            <span><%== t(".citizens_card_3_text") %></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
