<main class="wrapper global-accountability">
  <div class="row column text-center">
    <h1 class="heading1 page-title">El ayuntamiento rinde cuentas</h1>
    <p class="centered--text intro--text">Este sitio web busca ser un espacio en el que el Ayuntamiento de Barcelona rinda cuentas a los ciudadanos sobre sus objetivos y resultados de forma justificada y en el que los ciudadanos puedan acceder a la información sobre el desempeño del Ayuntamiento.</p>

    <section class="section">
      <h3 class="section-heading">Temas</h3>

      <div class="row">
        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "planificacion"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "book" %> Planificación y estrategia municipal</h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li>PAM 2016-2019</li>
                <li>Planes estratégicos municipales</li>
                <li>Procesos participativos Decidim</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "economia"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "graph" %> Economía y presupuestos</h4>
            <% end %>
            
            <div class="card__content">
              <ul>
                <li>Presupuesto</li>
                <li>Resultados e informes financieros</li>
                <li>Contratación pública</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "servicios"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "key" %> Prestación de servicios y gestión pública</h4>
            <% end %>
            
            <div class="card__content">
              <ul>
                <li>Cartas de servicios</li>
                <li>Evaluación de servicios municipales</li>
                <li>Indicadores de indicidencias y comunicaciones</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "etica"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "home" %> Gestión ética y buen gobierno</h4>
            <% end %>
            
            <div class="card__content">
              <ul>
                <li>Información sobre altos cargos</li>
                <li>Transparencia</li>
                <li>Prevención de la corrupción</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <h3 class="section-heading">El flujo de rendición de cuentas</h3>
      <p class="centered--text">La rendición de cuentas es un proceso que permite explicar, justificadamente los objetivos y resultados del Ayuntamiento. El objetivo es responder a las necesidades e intereses de la ciudadanía.</p>

      <svg xmlns="http://www.w3.org/2000/svg" width="608" height="293" viewBox="0 0 608 293">
        <g fill="none" fill-rule="evenodd" transform="translate(-19 -2)">
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="269.35" y="243">INFORMACIÓN</tspan>
          </text>
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="17.85" y="130">RETROALIMENTACIÓN</tspan>
          </text>
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="256" y="20">IDENTIFICACIÓN</tspan>
          </text>
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="481.94" y="135">COMPROMISO</tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="241.456" y="45">Identificar las necesidades y </tspan> <tspan x="236.888" y="67">expectativas de la ciudadanía</tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="463.516" y="160">Compromiso público del </tspan> <tspan x="498.3" y="182">Ayuntamiento</tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="212.124" y="268">Información sobre el cumplimiento </tspan> <tspan x="262.604" y="290">de los compromisos</tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="37.996" y="155">Recoger la satisfacción</tspan> <tspan x="44.9" y="177">con el Ayuntamiento</tspan>
          </text>
          <g transform="translate(464 37)">
            <path stroke="#5A9AA6" stroke-width="3" d="M.5 1.5L79.5 1.5M79.5 1.5L79.5 51.5" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="79.5 57 73.5 45 85.5 45"/>
          </g>
          <g transform="translate(108 37)">
            <path stroke="#5A9AA6" stroke-width="3" d="M1.5 5.5L80.5 5.5M1.5 5.5L1.5 55.5" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="81 12 75 0 87 0" transform="rotate(-90 81 6)"/>
          </g>
          <g transform="rotate(90 174 371)">
            <path stroke="#5A9AA6" stroke-width="3" d="M.5 1.5L79.5 1.5M79.5 1.5L79.5 51.5" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="79.5 62 73.5 50 85.5 50"/>
          </g>
          <g transform="rotate(-180 94.5 139)">
            <path stroke="#5A9AA6" stroke-width="3" d="M.5 1.5L79.5 1.5M79.5 1.5L79.5 75.5067564" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="79 82 73 70 85 70"/>
          </g>
        </g>
      </svg>
    </section>

    <section class="section">
      <h3 class="section-heading">Relación con la ciudadanía</h3>
      <p class="centered--text">Esta sección recoge los principales espacios de comunicación, diálogo y participación entre el ayuntamiento y la ciudadanía que, sin ser específicamente mecanismos de rendición de cuentas, ofrecen información al ciudadano y en ellos se definen políticas, se trasladan quejas y sugerencias y se explica la actuación del ayuntamiento.</p>

      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="https://decidim.barcelona/">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/1/98a2d321-e500-4a96-9d4c-b3e8a98659c5.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="https://decidim.barcelona/"><h4 class="card__title">Decidim Barcelona</h4></a>
            <span class="card--process__small">Portal de participación y rendición de cuentas durante todos los procesos.</span>
          </div>
        </article>
      </div>

      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="http://ajuntament.barcelona.cat/alcaldessa/es/encuentros-con-la-alcaldesa">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/5/c2d11276-9e87-41f2-9184-a28986ef9da1.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="http://ajuntament.barcelona.cat/alcaldessa/es/encuentros-con-la-alcaldesa"><h4 class="card__title">Encuentros con la alcaldesa</h4></a>
            <span class="card--process__small">Espacio regular de encuentro con la gente de los barrios.</span>
          </div>
        </article>
      </div>
      
      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="http://governobert.bcn.cat/es/participacion/espacios-de-participaci%C3%B3n">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/4/eixample_portada.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="http://governobert.bcn.cat/es/participacion/espacios-de-participaci%C3%B3n"><h4 class="card__title">Espacios de participación</h4></a>
            <span class="card--process__small">Formado por espacios <a href="http://governobert.bcn.cat/es/participacion/espacios-estables-de-participaci%C3%B3n">estables</a> y <a href="http://governobert.bcn.cat/es/participacion/espacios-puntuales-de-participaci%C3%B3n">puntuales</a> de participación.</span>
          </div>
        </article>
      </div>

      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="http://ajuntament.barcelona.cat/es/canales-comunicacion-ciudadana">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/3/24629d25-56ee-47ab-bff7-64b5a132309a.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="http://ajuntament.barcelona.cat/es/canales-comunicacion-ciudadana"><h4 class="card__title">Canales de comunicación</h4></a>
            <span class="card--process__small">Canales de comunicación para realizar consultas, trámites y reclamaciones.</span>
          </div>
        </article>
      </div>
    </section>
  </div>
</main>
