<main class="wrapper global-accountability">
  <div class="row column text-center">
    <h1 class="heading1 page-title"><%= t(".heading") %></h1>
    <p class="centered--text intro--text"><%= t(".intro_text") %></p>

    <section class="section">
      <h3 class="section-heading"><%= t(".topics") %></h3>

      <div class="row">
        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "planificacion"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "book" %> <%= t(".section_1_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_1_item_1") %></li>
                <li><%= t(".section_1_item_2") %></li>
                <li><%= t(".section_1_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "economia"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "graph" %> <%= t(".section_2_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_2_item_1") %></li>
                <li><%= t(".section_2_item_2") %></li>
                <li><%= t(".section_2_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "servicios"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "key" %> <%= t(".section_3_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_3_item_1") %></li>
                <li><%= t(".section_3_item_2") %></li>
                <li><%= t(".section_3_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="medium-6 columns">
          <div class="card card--accountability">
            <%= link_to DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(anchor: "etica"), class: "card__link" do %>
              <h4 class="card__title"><%= icon "home" %> <%= t(".section_3_title") %></h4>
            <% end %>

            <div class="card__content">
              <ul>
                <li><%= t(".section_4_item_1") %></li>
                <li><%= t(".section_4_item_2") %></li>
                <li><%= t(".section_4_item_3") %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <h3 class="section-heading"><%= t(".flow_section_heading") %></h3>
      <p class="centered--text"><%= t(".flow_intro_text") %></p>

      <svg class="accountability--graphic" xmlns="http://www.w3.org/2000/svg" width="608" height="293" viewBox="0 0 608 293">
        <g fill="none" fill-rule="evenodd" transform="translate(-19 -2)">
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="269.35" y="243"><%= t(".flow_item_1") %></tspan>
          </text>
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="17.85" y="130"><%= t(".flow_item_2") %></tspan>
          </text>
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="256" y="20"><%= t(".flow_item_3") %></tspan>
          </text>
          <text fill="#3D393C" font-family="SourceSansPro-Semibold, Source Sans Pro" font-size="20" font-weight="500" letter-spacing=".6">
            <tspan x="481.94" y="135"><%= t(".flow_item_4") %></tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="241.456" y="45"><%= t(".flow_text_1_1") %> </tspan> <tspan x="236.888" y="67"><%= t(".flow_text_1_2") %></tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="463.516" y="160"><%= t(".flow_text_2_1") %> </tspan> <tspan x="498.3" y="182"><%= t(".flow_text_2_2") %></tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="212.124" y="268"><%= t(".flow_text_3_1") %> </tspan> <tspan x="262.604" y="290"><%= t(".flow_text_3_2") %></tspan>
          </text>
          <text fill="#5E595D" font-family="SourceSansPro-Regular, Source Sans Pro" font-size="16">
            <tspan x="37.996" y="155"><%= t(".flow_text_4_1") %></tspan> <tspan x="44.9" y="177"><%= t(".flow_text_4_2") %></tspan>
          </text>
          <g transform="translate(464 37)">
            <path stroke="#5A9AA6" stroke-width="3" d="M.5 1.5L79.5 1.5M79.5 1.5L79.5 51.5" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="79.5 57 73.5 45 85.5 45"/>
          </g>
          <g transform="translate(108 37)">
            <path stroke="#5A9AA6" stroke-width="3" d="M1.5 5.5L80.5 5.5M1.5 5.5L1.5 55.5" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="81 12 75 0 87 0" transform="rotate(-90 81 6)"/>
          </g>
          <g transform="rotate(90 174 371)">
            <path stroke="#5A9AA6" stroke-width="3" d="M.5 1.5L79.5 1.5M79.5 1.5L79.5 51.5" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="79.5 62 73.5 50 85.5 50"/>
          </g>
          <g transform="rotate(-180 94.5 139)">
            <path stroke="#5A9AA6" stroke-width="3" d="M.5 1.5L79.5 1.5M79.5 1.5L79.5 75.5067564" stroke-linecap="square"/>
            <polygon fill="#5A9AA6" points="79 82 73 70 85 70"/>
          </g>
        </g>
      </svg>
    </section>

    <section class="section">
      <h3 class="section-heading"><%= t(".citizens_section_heading") %></h3>
      <p class="centered--text"><%= t(".citizens_section_intro_text") %></p>

      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="https://decidim.barcelona/">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/1/98a2d321-e500-4a96-9d4c-b3e8a98659c5.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="https://decidim.barcelona/"><h4 class="card__title"><%= t(".citizens_card_1_title") %></h4></a>
            <span class="card--process__small"><%= t(".citizens_card_1_text") %></span>
          </div>
        </article>
      </div>

      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="http://ajuntament.barcelona.cat/alcaldessa/es/encuentros-con-la-alcaldesa">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/5/c2d11276-9e87-41f2-9184-a28986ef9da1.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="http://ajuntament.barcelona.cat/alcaldessa/es/encuentros-con-la-alcaldesa"><h4 class="card__title"><%= t(".citizens_card_2_title") %></h4></a>
            <span class="card--process__small"><%= t(".citizens_card_2_text") %></span>
          </div>
        </article>
      </div>

      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="http://governobert.bcn.cat/es/participacion/espacios-de-participaci%C3%B3n">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/4/eixample_portada.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="http://governobert.bcn.cat/es/participacion/espacios-de-participaci%C3%B3n"><h4 class="card__title"><%= t(".citizens_card_3_title") %></h4></a>
            <span class="card--process__small"><%== t(".citizens_card_3_text") %></span>
          </div>
        </article>
      </div>

      <div class="medium-3 columns">
        <article class="card card--process card--mini">
          <a class="card__link" href="http://ajuntament.barcelona.cat/es/canales-comunicacion-ciudadana">
            <div class="card__image-top" style="background-image:url(https://decidim-barcelona.s3.amazonaws.com/uploads/decidim/participatory_process/hero_image/3/24629d25-56ee-47ab-bff7-64b5a132309a.jpg)"></div>
          </a>

          <div class="card__content">
            <a class="card__link" href="http://ajuntament.barcelona.cat/es/canales-comunicacion-ciudadana"><h4 class="card__title"><%= t(".citizens_card_4_title") %></h4></a>
            <span class="card--process__small"><%= t(".citizens_card_4_text") %></span>
          </div>
        </article>
      </div>
    </section>
  </div>
</main>
