<% add_decidim_meta_tags({
  description: t(".meta_tags.description"),
  title: t(".meta_tags.title")
}) %>
<main class="layout-1col cols-8">
  <div class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12"><%= t(".heading") %></h1>
    <p class="text-lg text-gray-2"><%= t(".intro_text") %></p>
  </div>

  <div class="vertical-tabs">
    <nav>
      <button id="dropdown-trigger-pages" data-component="dropdown" data-target="dropdown-menu-pages" data-auto-close="true" data-disabled-md="true">
        <%= icon "arrow-down-s-line" %>
        <%= icon "arrow-up-s-line" %>
      </button>
      <ul id="dropdown-menu-pages" class="vertical-tabs__list">
        <% sections.keys.each do |section| %>
          <li class="<%= "is-active" if current_section.to_sym == section %>">
            <%= link_to t(".#{section}.title"), DecidimBarcelona::Application.routes.url_helpers.accountability_sections_path(section) %>
          </li>
        <% end %>
      </ul>
    </nav>

    <section>
      <% sections[current_section.to_sym].times do |i| %>
        <section class="pb-10">
          <h2 class="h2"><%= t(".#{current_section}.heading_#{i}") %></h2>
          <div class="editor-content my-6">
            <%== t(".#{current_section}.text_#{i}") %>
          </div>
          <% unless t(".#{current_section}.link_#{i}", default: "").empty? %>
            <button class="button button__lg button__primary">
              <%= link_to t(".go_to_link"), t(".#{current_section}.link_#{i}") %>
            </button>
          <% end %>
        </section>
      <% end %>
    </section>
  </div>
</main>
