<br>
<div>
  <div>
    <%= initiative_id %>
  </div>
  <div>
    <%= initiative_title %>
  </div>
  <div>
    <%= name_and_surname %>
  </div>
  <div>
    <%= document_number %>
  </div>
  <div>
    <%= date_of_birth %>
  </div>
  <div>
    <%= postal_code %>
  </div>
  <div>
    <%= time_and_date %>
  </div>
  <div style="word-wrap: break-word;">
    <%= timestamp %>
  </div>
  <div>
    <%= hash_id %>
  </div>
  <div>
    <%= scope %>
  </div>
</div>
