<%= decidim_sanitize_newsletter cell.to_s %>

<% if @newsletter.template.manifest_name == "barcelona_custom" %>
  <% content_for :custom_footer do %>
    <tr>
      <td class="footnote custom-newsletter-barcelona__legal">
        <p>
          <%= t("decidim.newsletter_templates.barcelona_custom.footer.data_protection_html",
                link: link_to(t("decidim.newsletter_templates.barcelona_custom.footer.data_protection_link_text"),
                             t("decidim.newsletter_templates.barcelona_custom.footer.data_protection_url"),
                             class: "unsubscribe")).html_safe %>
        </p>
        <p>
          <%= t("decidim.newsletter_templates.barcelona_custom.footer.manage_subscriptions_html",
                notifications_settings_link: link_to(t("decidim.newsletter_templates.barcelona_custom.footer.notifications_settings"),
                             @newsletter.notifications_settings_url,
                             class: "unsubscribe"),
                unsubscribe_link: link_to(t("decidim.newsletter_templates.barcelona_custom.footer.unsubscribe"),
                             @newsletter.unsubscribe_newsletters_url(u: @encrypted_token),
                             class: "unsubscribe")).html_safe %>
        </p>
        <p>
          <%= t("decidim.newsletter_templates.barcelona_custom.footer.contact_html",
                link: link_to(t("decidim.newsletter_templates.barcelona_custom.footer.contact_link_text"),
                             decidim.page_url(t("decidim.newsletter_templates.barcelona_custom.footer.contact_page_slug"), host: @organization.host),
                             class: "unsubscribe")).html_safe %>
        </p>
      </td>
    </tr>
  <% end %>
<% else %>
  <% content_for :note do %>
    <%== t ".note", organization_name: organization_name(@organization), link: @newsletter.notifications_settings_url %>
  <% end %>

  <% content_for :unsubscribe do %>
    <%== t ".unsubscribe", link: @newsletter.unsubscribe_newsletters_url(u: @encrypted_token) %>
  <% end %>
<% end %>

<% content_for :see_on_website do %>
  <center style="display: none">
    <%== CGI.unescapeHTML truncate(cell.body, max_length: 50) %>
  </center>
  <%== t ".see_on_website", link: @newsletter.url %>
<% end %>
