<div class="brand-bar home__section">
  <div class="bcn-cat-link">
    <%= link_to "www.barcelona.cat", "https://ajuntament.barcelona.cat", target: "_blank", class: "bcnbrand-main-link", data: { external_link: "text-only" } %>
  </div>
  <div class="bcn-logo">
    <%= link_to "https://ajuntament.barcelona.cat", target: "_blank", data: { external_link: "text-only" } do %>
      <%= image_pack_tag "media/images/bcn-logo.svg", class: "logo-desktop", alt: t(".organization_logo") %>
      <%= image_pack_tag "media/images/bcn-logo-mobile.svg", class: "logo-mobile", alt: t(".organization_logo") %>
    <% end %>
  </div>
</div>
<div id="main-bar" class="main-bar__container">
  <div class="main-bar">
    <div class="main-bar__logo">
      <div class="main-bar__logo-desktop">
        <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
      </div>
      <div class="main-bar__logo-mobile">
        <%= render partial: "layouts/decidim/logo_mobile", locals: { organization: current_organization } %>
      </div>
    </div>
    <div class="main-bar__search">
      <%= render partial: "layouts/decidim/header/main_search" %>
    </div>
    <div class="main-bar__links-desktop">
      <%= render partial: "layouts/decidim/header/header_language_selector" %>
      <%= render partial: "layouts/decidim/header/main_links_desktop" %>
    </div>
    <div class="main-bar__menu-mobile">
      <%= render partial: "layouts/decidim/header/main_menu_mobile" %>
    </div>
    <%= render partial: "layouts/decidim/header/main_links_mobile_account" if current_user %>
  </div>
</div>

