<% content_for(:js_content) do %>
  <script>
    function resizeIframe(target, timeout = 500) {
      setTimeout(() => {
        target.style.height = `${target.contentWindow.document.documentElement.scrollHeight}px`;
      }, timeout);
    }

    document.addEventListener("DOMContentLoaded", function() {
      const iframe = document.querySelector("iframe.dataviz-embedded.resize-on-page-load");
      if (iframe) { resizeIframe(iframe); }
    });
  </script>
<% end %>

<main class="layout-1col cols-10">
  <header class="text-center py-10">
    <h1 class="title-decorator inline-block text-left mb-12">
      <%= t("decidim.components.dataviz.name") %>
    </h1>
  </header>
  <div class="vertical-tabs">
    <nav>
      <ul id="dropdown-menu-pages" class="vertical-tabs__list">
        <% available_dataviz.each do |dataviz| %>
          <li class="<%= "is-active" if dataviz == @id %>">
            <%= link_to({ id: dataviz }) do %><%= t ".dataviz.#{dataviz}.title" %><% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <section>
      <h2 class="h2"><%= t ".dataviz.#{@id}.title" %></h2>
      <% if t(".dataviz.#{@id}").keys.include?(:description) %>
        <div class="editor-content mt-6">
          <%== t ".dataviz.#{@id}.description" %>
        </div>
      <% end %>
      <div class="dataviz">
        <div class="dataviz-show dataviz-<%= @id %>">
          <%= render partial: "#{@id}" %>
        </div>
      </div>
    </section>
  </div>
</main>

<%= append_stylesheet_pack_tag "decidim_dataviz" %>
